{% extends 'base.html' %}
{% load static tailwind_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<div class="page-header">
    {% if event %}
        <h1>Edit {{ event.name }}</h1>
    {% else %}    
        <h1>Add Event</h1>
    {% endif %}
</div>

<form method="post" class="form-container">
    {% csrf_token %}
    {{ form.as_p }} 
    {% if object %}
        <button class="btn submit">Update Event</button>
    {% else %}
        <button class="btn submit">Create Event</button>
    {% endif %}
</form>
{% endblock %}

