{% extends 'base.html' %}
{% load static tailwind_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

<div class="page-header">
    <img src="{% static 'images/edit-add-img.jpg' %}" alt="party celebration" class="edit-add-background">
    {% if event %}
        <h1 class="text-bold">Edit {{ event.name }}</h1>
    {% else %}    
        <h1>Add Event</h1>
    {% endif %}
</div>

<form method="post" class="form-container">
    {% csrf_token %}
    {{ form.as_p }} 
    {% if object %}
        <button class="btn submit update-event-button">Update Event</button>
    {% else %}
        <button class="btn submit create-event-button">Create Event</button>
    {% endif %}
</form>
{% endblock %}

