{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Event Manager</title>
    {% tailwind_css %}
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="header-logo-container">
            <a href="/">
                <h1>EventEase</h1>
            </a>
        </div>
        <nav class="nav-menu">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'event-index' %}">All Events</a></li>
                <li><a href="{% url 'event-create' %}">Add Event</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                
                <li>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button>
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            Log Out
                        </button>
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a id="loginBtn" class="btn submit" href="#">Login</a></li>
                <!-- <li><button id="loginBtn" class="btn submit">Login</button></li> -->
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}



        
        {% endblock %}
    </main>

    {% if not user.is_authenticated %}
    <!-- Login Modal -->
    <div id="loginModal" class="modal hidden">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <form id="login-form" action="{% url 'home' %}" method="post" class="login">
                <h1>Login</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ next }}" />
                <button class="btn submit">Login</button>
            </form>
        </div>
    </div>

    <!-- <script>
        // Get modal element
        const modal = document.getElementById('loginModal');
        // Get open modal button
        const loginBtn = document.getElementById('loginBtn');
        // Get close button
        const closeBtn = document.querySelector('.close-btn');

        // Listen for open click
        loginBtn.addEventListener('click', () => {
            modal.classList.remove('hidden');
        });

        // Listen for close click
        closeBtn.addEventListener('click', () => {
            modal.classList.add('hidden');
        });

        // Listen for outside click
        window.addEventListener('click', (event) => {
            if (event.target === modal) {
                modal.classList.add('hidden');
            }
        });
    </script> -->


    <script>
        // Get modal element
        const modal = document.getElementById('loginModal');
        // Get open modal button
        const loginBtn = document.getElementById('loginBtn');
        // Get close button
        const closeBtn = document.querySelector('.close-btn');

        // Handle login button click
        loginBtn.addEventListener('click', (event) => {
            const currentUrl = window.location.pathname;
            const homeUrl = '/'; // Assuming home URL is root URL

            if (currentUrl !== homeUrl) {
                // Set a flag to indicate the login button was clicked
                sessionStorage.setItem('loginClicked', 'true');
                window.location.href = homeUrl;
            } else {
                modal.classList.remove('hidden');
            }
        });

        // Check if the modal should be shown on page load
        window.addEventListener('load', () => {
            const loginClicked = sessionStorage.getItem('loginClicked');

            if (loginClicked === 'true') {
                sessionStorage.removeItem('loginClicked'); // Clear the flag
                modal.classList.remove('hidden');
            }
        });

        // Listen for close click
        closeBtn.addEventListener('click', () => {
            modal.classList.add('hidden');
        });

        // Listen for outside click
        window.addEventListener('click', (event) => {
            if (event.target === modal) {
                modal.classList.add('hidden');
            }
        });
    </script>
    {% endif %}


</body>

</html>