.page-header {
    text-align: center;
    margin-bottom: 20px;
}

.page-header h1 {
    margin-top: 20px;
}

.signup-page-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.signup-form-container {
    position: absolute; 
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    z-index: 2; 
}


/* Existing styles */
#id_description {
    color: #000000;
}

.form-control {
    border-radius: 10px;
}

td {
    color: #333;
}

#id_location, #id_date, #id_name, #id_category {
    border-radius: 10px;
    color: black;
}

#id_guests #text {
    color: black;
}

form .invite-button {
    color: black;
}

form p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form label {
    margin-bottom: 8px;
}


.event-container {
    position: relative;
    text-align: center;
}

.signup-event-container {
    position: relative;
    text-align: center;
    z-index: 1;
}

.background-img {
    width: 100%;
    height: auto;
    opacity: 75%;
    display: block;
}

.signup-background-img {
    width: 100%;
    height: auto;
    opacity: 75%;
    display: block;
    position: relative;
    z-index: 1;
}

form input {
    color: black;
}

#id_password1_helptext,
#id_password2_helptext,
#id_username_helptext {
    color: white;
    font-size: 14px;
}

.sign-up-button {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: text-shadow 0.3s ease;
}

.sign-up-button:hover {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); 
}

.signup-event-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.signup-form-container {
    background-color: rgba(0, 0, 0, 0.4); 
    border: 1px solid #888; 
    border-radius: 8px;
}

.signup-form-container tr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#id_password1,
#id_password2,
#id_username {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.overlay-text {
    position: absolute;
    top: 40%; /* Vertically centers the text */
    left: 50%; /* Horizontally centers the text */
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 2px;
    z-index: 1;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.form-check {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    gap: 10px; /* Space between checkboxes */
    justify-items: center; /* Center items horizontally in each grid cell */
    align-items: center;
}

.form-check #text {
    text-align: center;
}

.form-check input {
    margin: 0 auto;
}

.update-event-button,
.create-event-button {
    letter-spacing: 1px;
    background-color: #7bb377;
    border: 1px solid #7bb377;
    border-radius: 5px;
    padding: 5px 10px;
}

.update-event-button:hover,
.create-event-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}