@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.card-wrapper {
    display: flex;
    align-items: center;
    margin: 20px auto;
    justify-content: center;
}

.card {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 600px;
    flex: 1;
    margin-left: 10px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

/* Event details */
.event-details h1 {
    font-size: 2em;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.card-content h2 {
    font-size: 1.5em;
    color: #555;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.events-all-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    letter-spacing: 1px;
}

.event-date {
    top: 10px;
    right: 10px;
    width: 90px; /* Size of the square */
    height: 90px; /* Size of the square */
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 15px solid rgb(202, 6, 6);
    border-radius: 4px; 
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
}

.search-button {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: #959ca3;
    color: #fff;
    cursor: pointer;
    margin-left: 8px;
}

.search-button:hover {
    background-color: #16212d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

form input {
    color: black;
}

.calendar-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-button {
    letter-spacing: 1px;
    background-color: #7bb377;
    border: 1px solid #7bb377;
    border-radius: 5px;
    padding: 5px 10px;
}

.calendar-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.background-two {
    width: 100%;
    height: auto;
    opacity: 75%;
    display: block;
}

.page-content {
    position: absolute;
    top: 40%; /* Vertically centers the text */
    left: 50%; /* Horizontally centers the text */
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 2px;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 80%;
    text-align: center;
    line-height: 2.8;
}