@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Styling the event container */
.card {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
}

/* Styling the event details */
.event-details h1 {
    font-size: 2em;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.card-content h2 {
    font-size: 1.5em;
    color: #555;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.events-all-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
}